In [4]:
# Import dependencies
import pandas as pd
import requests as req
import time
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [5]:
 # Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\franc\.wdm\drivers\chromedriver\win32\91.0.4472.101]

In [24]:
# visit the Mars News url
news_url = "https://redplanetscience.com/"
browser.visit(news_url)

time.sleep(2)

In [25]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [26]:
#Collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

# Scrape the latest News Title and Paragraph Text
news_title = soup.find("div", class_ = "content_title").text
news_p = soup.find("div", class_ = "article_teaser_body").text

# Show scrapped news 
print(news_title)
print("-----------------------------------------")
print(news_p)

NASA's Mars 2020 Rover Tests Descent-Stage Separation
-----------------------------------------
A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.

In [48]:
 # Close the browser after scraping
browser.quit()

In [55]:
#Visit the url for JPL Mars Space Images featured Image
browser = Browser('chrome', **executable_path, headless=False)
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

time.sleep(3)

In [56]:
#Use splinter to navigate the site and find the image url for the current Featured Mars Image 
#assign the url string to a variable called `featured_image_url`

# Scrape page into Soup
html = browser.html
image_soup = bs(html, 'html.parser')

In [57]:
#click on the 'full image' button to retrieve a full-size jpg url ---
browser.links.find_by_partial_text('FULL IMAGE').click()
time.sleep(3)

# Scrape page into Soup
html = browser.html
image_soup = bs(html, 'html.parser')

In [65]:
#Get the url for the featured image and display it. 
whole_image_url =image_soup.find('img',class_='headerimage fade-in')['src']
#print(whole_image_url)

featured_image_url = image_url+whole_image_url
print(f'The featured image url is: {featured_image_url}')

The featured image url is: https://spaceimages-mars.com/image/featured/mars1.jpg

In [66]:
 # Close the browser after scraping
browser.quit()

In [ ]:
#visit the Mars Facts webpage (https://galaxyfacts-mars.com)
#use Pandas to scrape the table containing facts about the planet including Diameter, Mass,

In [6]:
#Visit the url Mars Facts webpage
browser = Browser('chrome', **executable_path, headless=False)
facts_url = "https://galaxyfacts-mars.com/"
browser.visit(facts_url)

time.sleep(3)

In [7]:
# Scrape page into Soup
html = browser.html
facts_soup = bs(html, 'html.parser')

In [8]:
#scrape the table containing facts about Mars
table = pd.read_html(facts_url)
mars_facts = table[1]

# Rename the columns and set Description as the index
mars_facts.columns = ['Description','Value']
mars_facts.set_index('Description', inplace=True)
mars_facts

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [9]:
# Convert the data to a HTML table
html_table = mars_facts.to_html()

#remove unwanted newlines to clean up the table
html_table.replace("\n", '')

print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [10]:
#Save the html table
mars_facts.to_html('Mars_Facts_table.html')

In [11]:
 # Close the browser after scraping
browser.quit()

In [12]:
#Visit the astrogeology site (https://marshemispheres.com/)
#obtain high resolution images for each of Mar's hemispheres.

#Visit the astrogeology site
browser = Browser('chrome', **executable_path, headless=False)
hem_url = "https://marshemispheres.com/"
browser.visit(hem_url)

time.sleep(3)

In [13]:
# Scrape page into Soup
html = browser.html
hem_soup = bs(html, 'html.parser')